In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
%matplotlib

Using matplotlib backend: Qt5Agg

In [6]:
#loading dataset into Pandas DataFrame
df = pd.read_csv(r'C:\Users\kingk\Desktop\PCA2.csv', names = ['Year', 'Deaths', 'Population', 'Crude Death Rate', 'Age-adjusted Rate', 'State'])

df.head()

   Year  Deaths  Population  Crude Death Rate  Age-adjusted Rate    State
0  1999     169     4430143            3.8148             3.8521  Alabama
1  2000     197     4447100            4.4299             4.4857  Alabama
2  2001     216     4467634            4.8348             4.8915  Alabama
3  2002     211     4480089            4.7097             4.7619  Alabama
4  2003     197     4503491            4.3744             4.4333  Alabama

In [7]:
features = ['Year', 'Deaths', 'Population', 'Crude Death Rate', 'Age-adjusted Rate']
x = df.loc[:, features].values
y = df.loc[:, ['State']].values

In [8]:
x = StandardScaler().fit_transform(x)

In [9]:
pd.DataFrame(data = x, columns = features).head()

       Year    Deaths  Population  Crude Death Rate  Age-adjusted Rate
0 -1.659725 -0.902694   -0.577158         -1.773430          -1.778105
1 -1.465820 -0.866953   -0.573643         -1.629003          -1.631209
2 -1.271914 -0.842701   -0.569386         -1.533931          -1.537126
3 -1.078008 -0.849083   -0.566804         -1.563305          -1.567173
4 -0.884102 -0.866953   -0.561952         -1.642035          -1.643357

In [24]:
pca = PCA(n_components = 2)

In [25]:
principalComponents = pca.fit_transform(x)

In [26]:
principalDf = pd.DataFrame(data = principalComponents, columns = ['principal component 1', 'principal component 2',])

In [27]:
principalDf.head()

   principal component 1  principal component 2
0              -3.103322               0.739282
1              -2.855167               0.606794
2              -2.664235               0.495457
3              -2.614817               0.431819
4              -2.618732               0.388624

In [14]:
df[['State']].head()

     State
0  Alabama
1  Alabama
2  Alabama
3  Alabama
4  Alabama

In [15]:
finalDf = pd.concat([principalDf, df[['State']]], axis = 1)
finalDf.head()

   principal component 1  principal component 2    State
0              -3.103322               0.739282  Alabama
1              -2.855167               0.606794  Alabama
2              -2.664235               0.495457  Alabama
3              -2.614817               0.431819  Alabama
4              -2.618732               0.388624  Alabama

In [16]:
#VISUALIZING 2D PROJECTION

#Using a PCA projection to 2D to visualize the entire data set.

In [30]:
fig = plt.figure(figsize = (8,8))
ax = fig.add_subplot(1,1,1)
ax.set_xlabel('Principal Component 1', fontsize = 15)
ax.set_ylabel('Principal Component 2', fontsize = 15)
ax.set_title('2 Component PCA', fontsize = 20)

targets = ['Alabama', 'Arkansas', 'Florida', 'Georgia', 'Louisiana', 'Mississippi', 'North Carolina', 'Tennessee']
colors = ['r', 'g', 'b', 'c', 'm', 'y', 'k', 'olive']
for target, color in zip(targets, colors):
    indicesToKeep = finalDf['State'] == target
    ax.scatter(finalDf.loc[indicesToKeep, 'principal component 1'], finalDf.loc[indicesToKeep, 'principal component 2'], 
                                c = color, s = 50)
ax.legend(targets)
ax.grid()

In [18]:
pca.explained_variance_ratio_

array([0.65844825, 0.27731241])